<?xml version="1.0"?>

<launch>
  <arg name="serial_port" default="/dev/serial/by-id/usb-u-blox_AG_-_www.u-blox.com_u-blox_GNSS_receiver-if00" />
  <arg name="baud" default="230400" />

  <arg name="debug" default="True" />

  <!-- f9p receiver -->
  <node pkg="f9p_ichimill" type="f9p_driver.py" name="f9p_driver" args="" respawn="true" respawn_delay="5">

    <param name="port" value="$(arg serial_port)"/>
    <param name="baud" value="$(arg baud)"/>

    <param name="debug" value="$(arg debug)"/>
  </node>

  <arg name="username" default="" />
  <arg name="password" default="BETATEST" />
  <arg name="port" default="2101" />
  <arg name="host" default="rtk2go.com" />
  <arg name="mountpoint" default="MIE_UNIV" />

  <!-- ntrip caster -->
    <node pkg="f9p_ichimill" type="ntripcaster_connect.py" name="ntripcaster_connect" args="" output="screen" >
      <remap from="/caster/rtcm_data" to="/softbank/rtcm_data"/>

      <param name="username" value="$(arg username)"/>
      <param name="password" value="$(arg password)"/>
      <param name="port" value="$(arg port)"/>

      <param name="host" value="$(arg host)"/>
      <param name="mountpoint" value="$(arg mountpoint)"/>

      <param name="debug" value="$(arg debug)"/>
    </node>

  <!-- sentence to fix -->
  <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver"  respawn="true" respawn_delay="5">
    <!--
    <remap from="nmea_sentence" to="nmea_gga"/>
    -->
  </node>
</launch>
